@media screen and (max-width: 767px) {
  .header-no-mobile {
    display: none;
  }
  .address-no-mobile {
    display: none;
  }
  /* ========mobile-menu======== */
  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: var(--color-white-fff);

    /* padding: 80px 35px 40px 40px; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--transition-dur-func),
      visibility var(--transition-dur-func);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu_coteiner {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
  }
  .mobile-header-nav {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  /* .mobile-header-item:not(:last-child) {
    margin-right: 40px;
  } */
  .mobile-header-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .mobile-contact-blue {
    color: var(--push-btn-portfolio);
  }
  .link {
  }
  .current {
  }
  .mobile-address {
    margin-bottom: 48px;
  }
  .mobile-address-header {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .mobile-contacts {
  }
  .mobile-contacts-address_tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--blue-text-color);
  }
  .mobile-contacts-address_mail {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primiory-text-color);
  }

  /* nvncffgn */
  .social-list {
    display: flex;
    justify-content: flex-start;
    gap: 56px;
  }

  .social-list-item {
  }

  .social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;

    background-color: var(--blue-text-color);
    transition: background-color var(--transition-dur-func);
  }

  .social-list-link:hover,
  .social-list-link:focus {
    background-color: var(--green-color);
  }
  .social-list-svg {
    fill: var(--grey-cornflower);
  }

  /* ========/mobile-menu======== */
}
@media screen and (min-width: 480px) {
  .coteiner {
    width: 426px;
    margin: 0 auto;
  }
  /* ===header=== */
}
/* =================planshet=================== */
@media screen and (min-width: 768px) {
  .coteiner {
    width: 766px;
  }
  .mobile-menu {
    display: none;
  }
  /* ========mobile-menu======== */
  .mobile-menu-open {
    display: none;
  }
  /* ========/mobile-menu======== */
  /* .properties-list {
    width: calc((100%-24px) / 2);
  } */
}
/* =================desctop=================== */
@media screen and (min-width: 1200px) {
  .coteiner {
    width: 1158px;
  }
  .section {
    padding: 120px 0;
  }

  /* .properties-list {
    width: calc((100%-72px) / 4);
  } */
}
